.a-button.f-primary
  width: 184px
  height: 36px
  background: #30B25B
  border-radius: 20px
  text-transform: uppercase
  font-family: Roboto, serif
  font-style: normal
  font-weight: 700
  font-size: 14px
  line-height: 16px
  text-align: center
  letter-spacing: 0.75px
  color: white
  margin: 28px 0 0 0

  &:focus
    opacity: 0.76

  &:hover
    background: #006027

  &:disabled
    color: rgba(0, 0, 0, 0.38)
    background: rgba(0, 0, 0, 0.38)
