.a-button.f-primary
  @extend .f-text-14, .f-text-center
  width: 184px
  height: 36px
  background: $Green
  border-radius: 20px
  border: none

  text-transform: uppercase
  font-weight: 600
  line-height: 16px
  letter-spacing: 0.75px
  color: $White

  margin: 28px 0 0
  align-self: center


  &:focus
    opacity: 0.76

  &:hover
    background: $Dark_Green

  &:disabled
    opacity: 0.38
    background: $Black
    color: $Boulder

