.a-button.f-secondary
  @extend .f-text-center, .f-text-14
  width: 184px
  height: 36px
  border: 1px solid $Green
    radius: 20px

  font-weight: 500
  line-height: 16px
  letter-spacing: 0.75px
  text-transform: uppercase
  color: $Green

  margin: 28px 0 0
  align-self: center





  &:focus
    opacity: 0.76

  &:hover
    background: $Dark_Green

  &:disabled
    opacity: 0.38
    background: $Black
