
$Silver_Chalice: #c1c1c1
$Silver_Darker: #aaaaaa
$Mine_Shaft: #323232
$Boulder: #757575
$Log_Cabin: #282828

$White: #fafafa
$Red: #ee1c25
$Orange: #F1AB68
$Cerulean: #0E9FED
$Green: #008844
$DarkGreen: #00773b
$Purple: #8427c2
$Black: #000000
