.a-img.f-map
  display: block
  width: 100%
  height: 230px
  margin: 0
  background-position: center
  background-repeat: no-repeat
  -webkit-box-shadow: inset 0px -125px 70px -40px rgba($color-shadow, 0.75)
  -moz-box-shadow: inset 0px -125px 70px -40px rgba($color-shadow, 0.75)
  box-shadow: inset 0px -125px 70px -40px rgba($color-shadow, 0.75)
