@use 'palette/light' as light

$color-background: light.$Alabaster
$color-text: light.$Tundora
$color-text-contrast: light.$White
$color-subtext: light.$Silver_Darker
$color-border: light.$Silver_Chalice
$color-disabled: darken(light.$Green, 50)
$color-primary: light.$Green
$color-secondary: light.$Purple
$color-correct: light.$Green
$color-info: light.$Cerulean
$color-warn: light.$Orange
$color-error: light.$Red

$color-primary-focus: darken($color-primary, 10)
$color-primary-hover: darken($color-primary, 10)
