@use 'palette/light' as palette

$color-background: palette.$Alabaster
$color-background-second: palette.$Log_Cabin
$color-text: palette.$Tundora
$color-text-contrast: palette.$Alabaster
$color-subtext: palette.$Gray
$color-border: palette.$Gray
$color-disabled: rgba(palette.$Gray, 0.65)
$color-primary: palette.$Green
$color-secondary: palette.$Purple
$color-correct: palette.$Green
$color-info: palette.$Cerulean
$color-warn: palette.$Orange
$color-error: palette.$Red
$color-shadow: palette.$White
$color-shadow-text: palette.$Black

$color-disabled-dark: darken(palette.$Gray, 8)
$color-primary-focus: rgba(palette.$Green, 0.7)
$color-primary-hover: rgba(palette.$Green, 0.7)
$color-border-light: rgba(palette.$Gray, 0.5)
